@tailwind base;

:root,
:root body[data-theme="macarena"] {
	--default-rounded: 0.25rem;
	/* 🔵 - Yearn Finance ******************************************************
	**	These are the colors you will use the most and will make up the majority
	**	of your UI. Use them for most of your text, backgrounds, and borders,
	**	as well as for things like secondary buttons and links.
	**************************************************************************/
	--color-neutral-0: 279 37% 17%;
	--color-neutral-100: 279 36% 27%;
	--color-neutral-200: 279 36% 34%;
	--color-neutral-300: 279 36% 40%;
	--color-neutral-400: 279 37% 17%;
	--color-neutral-500: 0 0% 90%;
	--color-neutral-600: 0 0% 13%; /* Same */
	--color-neutral-700: 0 0% 100%;
	--color-neutral-800: 0 0% 8%; /* Same */
	--color-neutral-900: 0 0% 100%; /* Same */

	/* 🔵 - Yearn Finance ******************************************************
	**	These are the splashes of color that should appear the most in your UI,
	**	and are the ones that determine the overall "look" of the site. Use
	**	these for things like primary actions, links, navigation items, icons,
	**	accent borders, or text you want to emphasize.
	**************************************************************************/
	--color-primary-100: 279 36% 34%;
	--color-primary-200: 279 36% 32%;
	--color-primary-500: 49 100% 50%;
	--color-primary-600: 48 100% 49%;
	--color-accent-500: 49 100% 50%;
	--color-accent-600: 48 100% 49%;

	/* 🔵 - Yearn Finance ******************************************************
	**	These colors should be used fairly conservatively throughout your UI to
	**	avoid overpowering your primary colors. Use them when you need an
	**	element to stand out, or to reinforce things like error states or
	**	positive trends with the appropriate semantic color.
	**************************************************************************/
	--color-yellow-900: 32 100% 45%;
	--color-yellow-300: 32 100% 95%;
	--color-yellow-200: 32 100% 90%;
	--color-pink-900: 328 100% 45%;
	--color-pink-300: 328 100% 95%;
	--color-pink-200: 328 100% 90%;
	--color-red-900: 0 100% 45%;
	--color-red-300: 0 100% 95%;
	--color-red-200: 0 100% 90%;
}

:root body[data-theme="macarena"] {
	& .yearn--button {
		@apply h-10;
		&[data-variant="filled"] {
			@apply border border-black;
		}
	}

	& .yearn--card {
		@apply border border-neutral-200 !shadow-none;
	}

	& .yearn--searchBox-wrapper {
		--searchBox-text-color: hsl(var(--color-neutral-500));
		--searchBox-border-color: hsl(var(--color-neutral-300));
		--searchBox-bg-color: hsl(var(--color-neutral-0));
		--searchBox-border-width: 1px;
	}
	& .yearn--searchBox {
		@apply focus-within:border-neutral-200;
	}

	& .yearn--banner {
		--banner-bg-color: hsl(var(--color-primary-100));
		--banner-text-color: hsl(var(--color-neutral-700));
		--banner-border-color: hsl(var(--color-neutral-200));
		--banner-border-width: 2px;
	}

	& .yearn--elementWithActions {
		--elementWithActions-text-color: hsl(var(--color-neutral-700));
		--elementWithActions-action-color: hsl(var(--color-primary-500));
		--elementWithActions-action-color-hover: hsl(var(--color-primary-600));
	}

	& .yearn--dropdown-menu {
		--dropdown-text-color: hsl(var(--color-primary-500));
		--dropdown-bg-color: hsl(var(--color-neutral-300));
		--dropdown-bg-color-active: hsl(var(--color-primary-200));
		--dropdown-border-width: 0px;
		--dropdown-border-color: black;
	}

	& .macarena--kbar-wrapper {
		@apply rounded-sm border border-black;
	}
	& .macarena--header {
		@apply pb-1 rounded-b-default bg-neutral-400;
		& > div {
			@apply bg-neutral-100;
		}
	}
	& .macarena--filter {
		@apply rounded-sm bg-neutral-100 border-primary-500;
		& > p {@apply text-primary-500;}
		&:hover {
			@apply border-black bg-primary-500;
			& > p {@apply text-neutral-100;}
		}

		&[aria-selected="true"] {
			@apply border-black bg-primary-500;
			& > p {@apply text-neutral-100;}
			&:hover {
				@apply bg-primary-600;
			}
		}
	}
	& .macarena--vaultCard {
		@apply -mt-1 mr-1 mb-1 -ml-1 bg-neutral-100;
	}
}
