@tailwind base;

:root {
	--color-primary: 220 95% 50%;
	--color-neutral-0: 0 0% 100%;
	--color-neutral-100: 0 0% 96%;
	--color-neutral-200: 0 0% 92%;
	--color-neutral-300: 0 0% 88%;
	--color-neutral-400: 0 0% 62%;
	--color-neutral-500: 0 0% 50%;
	--color-neutral-600: 0 0% 36%;
	--color-neutral-700: 0 0% 26%;
	--color-neutral-800: 0 0% 16%;
	--color-neutral-900: 0 0% 5%;

	/* Up Only Green */
	--color-green-50: 79 75% 81%;
	--color-green-100: 79 74% 63%;
	--color-green-200: 113 90% 61%;
	--color-green-300: 128 100% 53%;
	--color-green-400: 118 76% 54%;
	--color-green-500: 100 60% 48%;
	--color-green-600: 135 51% 42%;
	--color-green-700: 174 100% 24%;
	--color-green-800: 174 98% 19%;
	--color-green-900: 175 100% 11%;

	/* Tokyo Party */
	--color-purple-50: 288 46% 75%;
	--color-purple-100: 289 46% 50%;
	--color-purple-200: 266 75% 52%;
	--color-purple-300: 258 97% 53%;
	--color-purple-400: 267 67% 45%;
	--color-purple-500: 293 42% 37%;
	--color-purple-600: 272 45% 39%;
	--color-purple-700: 257 50% 40%;
	--color-purple-800: 257 58% 29%;
	--color-purple-900: 257 100% 13%;

	/* Disco Salmon */
	--color-pink-50: 351 100% 96%;
	--color-pink-100: 351 100% 78%;
	--color-pink-200: 333 98% 68%;
	--color-pink-300: 326 95% 60%;
	--color-pink-400: 336 83% 61%;
	--color-pink-500: 350 69% 60%;
	--color-pink-600: 341 59% 51%;
	--color-pink-700: 332 76% 41%;
	--color-pink-800: 332 81% 33%;
	--color-pink-900: 332 100% 21%;

	/* Metaverse Sunset */
	--color-orange-50: 48 100% 83%;
	--color-orange-100: 48 100% 66%;
	--color-orange-200: 60 88% 55%;
	--color-orange-300: 65 98% 51%;
	--color-orange-400: 53 94% 49%;
	--color-orange-500: 40 94% 50%;
	--color-orange-600: 31 94% 49%;
	--color-orange-700: 20 97% 47%;
	--color-orange-800: 14 97% 40%;
	--color-orange-900: 0 100% 28%;

	/* 🔵 - Yearn Finance ******************************************************
	**	These colors should be used fairly conservatively throughout your UI to
	**	avoid overpowering your primary colors. Use them when you need an
	**	element to stand out, or to reinforce things like error states or
	**	positive trends with the appropriate semantic color.
	**************************************************************************/
	--color-yellow-900: 32 100% 45%;
	--color-yellow-300: 32 100% 95%;
	--color-yellow-200: 32 100% 90%;
	--color-error-900: 328 100% 45%;
	--color-error-300: 328 100% 95%;
	--color-error-200: 328 100% 90%;
	--color-red-900: 0 100% 45%;
	--color-red-300: 0 100% 95%;
	--color-red-200: 0 100% 90%;	

	--default-rounded: 0rem;
}

:root.dark {
	--color-primary: 220 95% 50%;
	--color-neutral-900: 0 0% 100%;
	--color-neutral-800: 0 0% 96%;
	--color-neutral-700: 0 0% 92%;
	--color-neutral-600: 0 0% 88%;
	--color-neutral-500: 0 0% 62%;
	--color-neutral-400: 0 0% 50%;
	--color-neutral-300: 0 0% 36%;
	--color-neutral-200: 0 0% 26%;
	--color-neutral-100: 0 0% 16%;
	--color-neutral-0: 0 0% 5%;
}


body {@apply text-neutral-900;}
h1 {@apply text-xl font-bold text-neutral-900;}
h4 {@apply text-lg font-bold text-neutral-700;}
#__next {@apply w-full h-full}

/* 🔵 - Yearn Finance ******************************************************
** Overwritting the defaults to match our needs
**************************************************************************/
* {@apply scroll-smooth font-aeonik}
input::placeholder {@apply text-neutral-400 not-italic}
textarea::placeholder {@apply text-neutral-400 not-italic}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
	-webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0) inset;
	transition: background-color 5000s ease-in-out 0s;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
label[aria-invalid="true"] {
	@apply text-neutral-500 transition-colors;
	& > form > div {
		@apply border-[#FE0000] focus-within:border-[#FE0000] text-[#FE0000] focus-within:text-[#FE0000];
	}
	& > p {
		@apply text-[#FF0000];
	}
}

:focus {
    outline-width: 0px;
    outline-offset: 0px;
	outline: none;
    outline-color: transparent;
}

/* 🔵 - Yearn Finance ******************************************************
** First, we are declaring the Yearn's specific class for the components.
** We need to declare them first in order to work with css inheritence
** correctly. Aka theses class should be possible to overwrite by adding an
** extra tailwind class
**************************************************************************/
.image-align-middle > img {
	object-position: 0 70%;
}
.inline-dl {@apply flex flex-col p-6 shadow-xl;}
.flex-center {@apply flex justify-center items-center;}
.cell-end {@apply justify-end text-right;}
.cell-start {@apply justify-start text-left;}
.link {
	@apply text-primary-500 underline cursor-pointer transition-colors;
	&:hover {@apply text-primary-600;}
}
.rounded-default {border-radius: var(--default-rounded);}
.rounded-b-default {
	border-bottom-left-radius: var(--default-rounded);
	border-bottom-right-radius: var(--default-rounded);
}
.rounded-t-default {
	border-top-left-radius: var(--default-rounded);
	border-top-right-radius: var(--default-rounded);
}
.rounded-l-default {
	border-top-left-radius: var(--default-rounded);
	border-bottom-left-radius: var(--default-rounded);
}
.rounded-r-default {
	border-top-right-radius: var(--default-rounded);
	border-bottom-right-radius: var(--default-rounded);
}

/* -- Button.tsx ------------------------------------------------------- */
.yearn--button {
	@apply cursor-pointer px-5 flex justify-center items-center h-10 text-base transition-all relative;
	border-radius: var(--default-rounded);

	&[data-variant="filled"] {
		@apply text-neutral-0 bg-neutral-900 font-normal border border-transparent;
		&:disabled {@apply bg-neutral-700 opacity-40;}
		&:not(:disabled):not([aria-busy="true"]):hover {@apply bg-neutral-800;}
	}
	&[data-variant="light"] {
		@apply text-neutral-900 bg-neutral-100 border border-transparent;
		&:disabled {@apply opacity-40;}
		&:not(:disabled):not([aria-busy="true"]):hover {@apply bg-neutral-200;}
	}
	&[data-variant="outlined"] {
		@apply text-neutral-900 bg-transparent border border-neutral-900;
		&:disabled {@apply opacity-40;}
		&:not(:disabled):not([aria-busy="true"]):hover {@apply bg-neutral-900 text-neutral-0;}
	}
	&[aria-busy="true"] {
		@apply cursor-wait;
		color: transparent !important;
	}
	&:disabled {@apply cursor-not-allowed;}
}

/* -- SearchBox.tsx ---------------------------------------------------- */
.yearn--searchBox-wrapper {
	--searchBox-text-color: hsl(var(--color-neutral-500));
	--searchBox-border-color: hsl(var(--color-neutral-0));
	--searchBox-bg-color: hsl(var(--color-neutral-0));
	--searchBox-border-width: 2px;

	@apply overflow-hidden;
	border-radius: var(--default-rounded);
	background-color: var(--searchBox-bg-color);
}
.yearn--searchBox {
	@apply flex flex-row items-center w-full focus-within:border-primary-500 transition-colors bg-transparent;
	color: var(--searchBox-text-color);
	border: solid var(--searchBox-border-width) var(--searchBox-border-color);
	border-radius: var(--default-rounded);

	&[data-padding="narrow"] {
		@apply p-2 h-10;
		& > svg {@apply w-4 h-4 mr-2;}
		& > input {@apply h-10;}
	}
	&[data-padding="regular"] {
		@apply p-2 md:p-4 h-14;
		& > svg {@apply w-6 h-6 mr-4;}
		& > input {@apply h-14;}
	}
}
.yearn--searchBox-input {
	@apply p-0 w-full bg-transparent border-none focus:border-none outline-none focus:outline-none focus:ring-0;
}

/* -- Card.tsx --------------------------------------------------------- */
.yearn--card-tab-item {
	--card-tab-color-active: hsl(var(--color-primary-500));
	--card-tab-color: hsl(var(--color-neutral-400));
	--card-bg-color: hsl(var(--color-neutral-200));

	@apply w-full h-20 border-b-2 flex-center cursor-pointer;
	&.selected {
		@apply font-bold;
		border-color: var(--card-tab-color-active);
		color: var(--card-tab-color-active);
	}
	&:not(.selected) {
		@apply transition-colors cursor-pointer;
		border-color: var(--card-tab-color);
		color: var(--card-tab-color);
		&:hover {
			background-color: var(--card-bg-color);
		}
	}
}
.yearn--card-tab {
	@apply flex flex-row w-full;
	border-bottom-left-radius: 0 !important;
	border-bottom-right-radius: 0 !important;
	& > .yearn--card-tab-item:first-child {
		border-top-left-radius: var(--default-rounded);
	}
	& > .yearn--card-tab-item:last-child {
		border-top-right-radius: var(--default-rounded);
	}
}
.yearn--card {
	@apply shadow-none transition-all;
	border-radius: var(--default-rounded);
	&[role="button"] {@apply cursor-pointer hover:bg-neutral-0 shadow-lg;}
	&[data-variant="background"] {@apply bg-neutral-0;}
	&[data-variant="surface"] {@apply bg-neutral-100;}
	&[data-padding="narrow"] {@apply p-2 md:p-4;}
	&[data-padding="regular"] {@apply p-4 md:p-6;}
	&[data-padding="relaxed"] {@apply p-8;}
}

/* -- Banner.tsx ------------------------------------------------------- */
.yearn--banner-content-wrapper {
	@apply z-10 p-4 md:p-6 space-y-4 md:space-y-6 flex-col;
}
.yearn--banner-content-title {
	@apply text-inherit;
}
.yearn--banner-content-text {
	@apply text-inherit;
}
.yearn--banner-content-buttons {
	@apply flex flex-col md:flex-row space-y-4 md:space-y-0 space-x-0 md:space-x-4;
}
.yearn--banner-split-wrapper {
	&[data-mobile] {
		@apply flex md:hidden overflow-hidden relative -mx-1 -mt-1 w-full h-full rounded-xl max-h-48;
		border-color: var(--banner-border-color);
		border-left-width: var(--banner-border-width);
		border-right-width: var(--banner-border-width);
		border-bottom-width: var(--banner-border-width);
		& > div {
			@apply image-align-middle;
			border-radius: var(--default-rounded);
		}
	}
	&[data-desktop] {
		@apply hidden md:flex overflow-hidden -my-1 -ml-1 w-full h-full rounded-xl absolute;
		border-left-width: var(--banner-border-width);
		border-top-width: var(--banner-border-width);
		border-bottom-width: var(--banner-border-width);
		border-color: var(--banner-border-color);
		& > div {
			@apply image-align-middle w-full h-full -ml-1;
			border-radius: var(--default-rounded);
		}
	}
}
.yearn--banner {
	--banner-bg-color: hsl(var(--color-primary-100));
	--banner-text-color: hsl(var(--color-primary-500));
	--banner-border-color: hsl(var(--color-primary-500));
	--banner-border-width: 2px;

	@apply w-full flex flex-col-reverse md:flex-row relative overflow-hidden;
	background-color: var(--banner-bg-color);
	color: var(--banner-text-color);
	border: solid var(--banner-border-width) var(--banner-border-color);
	border-radius: var(--default-rounded);
	&[data-variant="image"] {
		@apply bg-no-repeat bg-cover bg-center;
		border: solid var(--banner-border-width) var(--banner-border-color);
	}
	&[data-variant="background"] {
		@apply bg-no-repeat bg-cover bg-center;
		border: solid var(--banner-border-width) var(--banner-border-color);
	}
	&[data-variant="split"] {
		& .yearn--banner-content-wrapper {
			@apply w-full md:w-1/2;
		}
	}
}
.yearn--banner-with-controls {
	--banner-with-controls-text-color: hsl(var(--color-primary-500));

	@apply relative;
	& .yearn--banner {&[data-variant="image"] {@apply pb-8 md:pb-0;}}
	& .yearn--banner-title {@apply mr-5 md:mr-0 text-inherit;}
}

.yearn--banner-with-controls-icons-cross {
	@apply w-6 h-6 cursor-pointer;
	color: var(--banner-with-controls-text-color);
}
.yearn--banner-with-controls-pagination {
	@apply flex absolute right-4 bottom-4 flex-row items-center space-x-2 z-50;
	color: var(--banner-with-controls-text-color);
}

/* -- Switch.tsx ------------------------------------------------------- */
.yearn--switch {
	--switch-bg-color: hsl(var(--color-primary-200));
	--switch-border-width: 2px;
	--switch-border-color: hsl(var(--color-primary-500));
	--switch-knob-color: hsl(var(--color-primary-500));

	@apply relative flex h-6 w-[42px] border border-primary-500 rounded-full cursor-pointer transition-colors ease-in-out duration-200 p-0 items-center;
	border: solid var(--switch-border-width) var(--switch-border-color);
	&[aria-checked="true"] {background-color: var(--switch-bg-color);}
	&[aria-checked="false"] {@apply bg-transparent;}

	& > div {
		@apply mx-1 pointer-events-none inline-block h-4 w-4 rounded-full transition ease-in-out duration-200;
		background-color: var(--switch-knob-color);
	}
}

/* -- Dropdown.tsx ----------------------------------------------------- */
.yearn--dropdown {
}
.yearn--dropdown-menu {
	--dropdown-text-color: hsl(var(--color-primary-500));
	--dropdown-bg-color: hsl(var(--color-neutral-300));
	--dropdown-bg-color-active: hsl(var(--color-neutral-600));
	--dropdown-border-width: 0px;
	--dropdown-border-color: transparent;

	@apply flex overflow-y-auto absolute left-0 flex-col mt-1 w-full min-w-fit max-h-60 scrollbar-none;
	border-radius: var(--default-rounded);
	border: solid var(--dropdown-border-width) var(--dropdown-border-color);
	background: var(--dropdown-bg-color);
}
.yearn--dropdown-menu-item {
	@apply flex flex-row items-center cursor-pointer py-1 pr-4 pl-3 transition-colors;
	color: var(--dropdown-text-color);
	&[data-active="true"] {
		background-color: var(--dropdown-bg-color-active);
	}
}

/* -- ElementWithActions.tsx ------------------------------------------- */
.yearn--elementWithActions-copy {
	@apply cursor-copy px-1 md:px-2;
}
.yearn--elementWithActions-linkout {
	@apply cursor-alias;
	& > a {@apply cursor-alias;}
}
.yearn--elementWithActions-icon {
	@apply w-4 h-4 transition-colors;
	color: var(--elementWithActions-action-color);
	&:hover {
		color: var(--elementWithActions-action-color-hover);
	}
}
.yearn--elementWithActions {
	@apply font-mono font-bold text-left;
	color: var(--elementWithActions-text-color);
	& ~ button {
		@apply flex justify-center items-center p-0 w-8 h-8;
		border-radius: var(--default-rounded);
	}
}

.yearn--elementWithActions-wrapper {
	--elementWithActions-text-color: hsl(var(--color-neutral-700));
	--elementWithActions-action-color: hsl(var(--color-primary-500));
	--elementWithActions-action-color-hover: hsl(var(--color-primary-600));
	@apply flex flex-row items-center;
}

/* -- Input.tsx -------------------------------------------------------- */
.yearn--input-field {
	@apply p-0 w-full bg-white/0 border-none focus:border-none outline-none focus:outline-none focus:ring-0 text-base text-neutral-900 font-normal;
}
.yearn--input-field-wrapper {
	@apply flex flex-row items-center py-2 w-full transition-colors border border-neutral-600 p-2 text-base text-neutral-900 h-10;
}
.yearn--input-max {
	@apply py-1 px-2 ml-2 transition-colors cursor-pointer;
	border-radius: var(--default-rounded);
	background-color: var(--input-max-bg-color);
	color: var(--input-max-text-color);
	border: solid var(--input-max-border-width) var(--input-max-border-color);
	&:hover {
		background-color: var(--input-max-bg-color-hover);
	}
}
.yearn--input {
	--input-label-color: hsl(var(--color-neutral-500));
	--input-max-bg-color: transparent;
	--input-max-bg-color-hover: hsl(var(--color-primary-100));
	--input-max-text-color: hsl(var(--color-primary-500));
	--input-max-border-color: hsl(var(--color-primary-500));
	--input-max-border-width: 1px;

	@apply space-y-1;
	& > p {
		@apply text-sm md:text-base transition-colors;
		color: var(--input-label-color);
	}
}

/* -- AlertBox.tsx ---------------------------------------------------- */
.yearn--alertbox-icon {
	width: var(--alertbox-icon-size);
	height: var(--alertbox-icon-size);
	min-width: var(--alertbox-icon-size);
	min-height: var(--alertbox-icon-size);
}
.yearn--alertbox {
	--alertbox-icon-size: 1.25rem;

	@apply flex flex-row items-start p-2 text-primary-500 bg-primary-100 space-x-2;

	border-radius: var(--default-rounded);
	&[data-variant="critical"] {
		@apply text-red-900 bg-red-300;
	}
	&[data-variant="error"] {
		@apply text-pink-900 bg-pink-300;
	}
	&[data-variant="warning"] {
		@apply text-yellow-900 bg-yellow-300;
	}
}

/* -- Modal.tsx ---------------------------------------------------- */
.yearn--modal-wrapper {
	@apply flex justify-center items-end px-4 pt-4 pb-20 min-h-screen text-center sm:block sm:p-0;
}
.yearn--modal-overlay {
	@apply fixed inset-0 z-10 bg-neutral-900/90 transition-opacity;
}
:root.dark {
	& .yearn--modal-overlay {
		@apply bg-neutral-100/90;
	}	
}

.yearn--modal {
	@apply inline-block overflow-hidden relative z-50 w-full text-left align-bottom shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg sm:align-middle md:mb-96 bg-neutral-0;

	border-radius: var(--default-rounded);
}

/* -- ModalLogin.tsx ---------------------------------------------------- */
.yearn--modalLogin-wrapper {
}
.yearn--modalLogin-card {
	@apply flex flex-col justify-center items-center p-6 text-center transition-colors cursor-pointer bg-neutral-0 hover:bg-neutral-100;
	
	border-radius: var(--default-rounded);
	& > div > svg {@apply w-12 h-12;}
	& > b {@apply mt-2 text-lg text-neutral-700;}
	& > p {@apply text-neutral-500;}
}
.yearn--modalLogin {
	@apply grid grid-cols-2;
}

/* -- ModalMobileMenu.tsx ---------------------------------------------------- */
.yearn--modalMobileMenu-content {
	@apply relative flex w-full flex-col items-center justify-center space-y-1 pt-4;
}
.yearn--modalMobileMenu-title {
	@apply text-center text-xl font-bold text-neutral-700;
}
.yearn--modalMobileMenu-networkIndicator {
	@apply text-sm text-neutral-500;
	& > span {
		@apply flex flex-row items-center;
	}

}
.yearn--modalMobileMenu-select {
	@apply rounded-default relative ml-1 flex flex-row items-center bg-neutral-500/10 py-1 pl-2 text-neutral-500;
}
.yearn--modalMobileMenu-walletCard {
	@apply rounded-default flex cursor-pointer flex-col items-center justify-center bg-neutral-100 py-4 px-2 text-center transition-colors;
}
.yearn--modalMobileMenu-childrenWrapper {
	@apply mb-4 space-y-2 px-2;
}
.yearn--modalMobileMenu-separatorWrapper {
	@apply w-full px-2;
}
.yearn--modalMobileMenu-separator {
	@apply mx-auto mt-2 mb-4 h-[2px] w-full items-center justify-center bg-neutral-500/20;
}
.yearn--modalMobileMenu-chevron {
	@apply absolute right-2;
	& > svg {
		@apply ml-1 h-3 w-3;
	}
}

.yearn--modalMobileMenu-logout {
	@apply absolute top-4 right-4;
	& > svg {
		@apply h-6 w-6 rounded-full bg-neutral-200 p-1.5 text-neutral-500;
	}
}



/* 🔵 - Yearn Finance ******************************************************
** Then, we import the tailwind class. They will be able to overwrite all
** the previous classes, not the next ones directly.
**************************************************************************/
@tailwind components;
@tailwind utilities;

/* 🔵 - Yearn Finance ******************************************************
** Shorthand for some group of style used across the application
***************************************************************************/
.flex-row-center {@apply flex flex-row items-center;}
.flex-row-start {@apply flex flex-row items-start;}
.flex-col-start {@apply flex flex-col items-start;}
.flex-col-full {@apply flex flex-col w-full h-full;}
.max-w-6xl {@apply max-w-[1232px] px-4;}

/* 🔵 - Yearn Finance ******************************************************
** NsProgress is used to display the loading indicator. All of theses
** styles are required to make it visible
**************************************************************************/
.nprogress-custom-parent {@apply overflow-hidden relative}
.nprogress-custom-parent #nprogress .spinner {@apply absolute}
.nprogress-custom-parent #nprogress .bar {@apply absolute}
#nprogress {@apply pointer-events-none}
#nprogress .bar {@apply bg-neutral-900 fixed top-0 left-0 w-full h-1 z-[1031]}
#nprogress .spinner {@apply block fixed z-[1031] top-4 right-4}
#nprogress .spinner-icon {@apply hidden}

/* 🔵 - Yearn Finance ******************************************************
** Some accessibilities fixes
**************************************************************************/
.scrollbar-none::-webkit-scrollbar {display: none;}
.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.yearn--select-reset {
	@apply bg-transparent p-0 border-none;
	&:focus {
		outline: none;
		box-shadow: none;
	}
}
.yearn--select-no-arrow {
	-webkit-appearance: none;
	-moz-appearance: none;
	background-image: none;
}
.yearn--select-no-arrow::-ms-expand {
    display: none;
}

/* 🔵 - Yearn Finance ******************************************************
** Some custom css for the components
**************************************************************************/
.img-gradient::after {
	content: '';
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
	@apply absolute inset-0 w-full h-full;
}

/* 🔵 - Yearn Finance ******************************************************
** Header an navbar
**************************************************************************/
.yearn--header {
	@apply inset-x-0 top-0 z-50 mb-5 flex h-20 w-full max-w-[1200px] flex-row items-center justify-between p-4 text-xs sm:text-sm md:inset-x-auto md:mb-0 md:px-0 md:text-base;
}
.yearn--nav {
	@apply hidden w-1/3 flex-row items-center space-x-3 md:flex md:space-x-6;
}
.yearn--header-nav-item {
	@apply relative cursor-pointer transition-colors text-neutral-500 hover:text-neutral-900 font-normal text-sm;

	&.active {
		@apply text-neutral-900 font-bold;
	}
}

/* 🔵 - Yearn Finance ******************************************************
** Dropdown menu and listbox
**************************************************************************/
.yearn--dropdown-menu {
	--dropdown-bg-color: hsl(var(--color-neutral-100));
	--dropdown-bg-color-active: hsl(var(--color-neutral-600));
	--dropdown-border-width: 0px;
	--dropdown-border-color: transparent;

	@apply flex overflow-y-auto absolute left-0 flex-col mt-1 w-full min-w-fit max-h-60 scrollbar-none text-neutral-400 border border-neutral-300 bg-neutral-100;
}
.yearn--dropdown-menu-item {
	@apply w-40 md:w-full flex flex-row items-center cursor-pointer py-2 pr-4 pl-3 transition-colors;
	&[data-active='true'] {
		@apply bg-neutral-0/40;
	}
}
.yearn--listbox-menu {
	@apply flex overflow-y-auto absolute left-0 flex-col mt-1 w-full min-w-fit max-h-60 scrollbar-none text-neutral-900 bg-neutral-0;
	box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16);
}
.yearn--listbox-menu-item {
	@apply w-full flex flex-row items-center cursor-pointer py-2 pr-4 pl-3 transition-colors;
	&[data-active='true'] {
		@apply bg-neutral-0/40;
	}
}

/* 🔵 - Yearn Finance ******************************************************
** Misc
**************************************************************************/
.yearn--button-smaller {
	@apply h-8 text-xs py-2 w-16 px-2;
}
.yearn--modalMobileMenu-childrenWrapper > a {
	&:last-child > .mobile-nav-item {
		@apply border-b-0;
	}
}
.yearn--sort-chevron {
	@apply h-4 w-4 min-w-[16px] cursor-pointer text-neutral-500;
}
.yearn--sort-chevron--off {
	@apply h-4 w-4 min-w-[16px] cursor-pointer transition-colors text-neutral-300 group-hover:text-neutral-500;
}

:root.dark {
	& .yearn--sort-chevron--off {
		@apply text-neutral-200;
	}
}

.mobile-nav-item {
	@apply flex flex-col items-start justify-between rounded bg-good-ol-grey-100;
	& > p {
		@apply p-2 text-base font-bold text-neutral-900;
	}
}
.mobile-nav-item {
	@apply rounded-none border-b border-neutral-300 bg-neutral-100/60;
}

.tab {
	@apply font-normal text-neutral-600 transition-colors hover:text-neutral-900 cursor-pointer border-b-2 border-transparent pb-4 z-20;
	&[aria-selected='true'] {
		@apply font-bold text-neutral-900 border-neutral-900;
	}
}
.hover-fix::before {
	display: block;
	content: attr(title);
	font-weight: bold;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}


/* 🔵 - Yearn Finance ******************************************************
<<<<<<< HEAD
** Some custom css for the components
**************************************************************************/
.text-h1 {
	@apply font-normal text-3xl;
}
.text-h1-bold {
	@apply font-bold text-3xl;
}
.text-h1-mono-bold {
	@apply font-mono font-bold text-3xl;
}

.text-h2 {
	@apply font-normal text-xl;
}
.text-h2-bold {
	@apply font-bold text-xl;
}
.text-h2-mono-bold {
	@apply font-mono font-bold text-xl;
}

.text-h3 {
	@apply font-normal text-lg;
}
.text-h3-bold {
	@apply font-bold text-lg;
}
.text-h3-mono-bold {
	@apply font-mono font-bold text-lg;
}

.text-body {
	@apply font-normal text-base;
}
.text-body-bold {
	@apply font-bold text-base;
}
.text-body-underlined {
	@apply font-normal text-base underline underline-offset-4;
}

.text-caption {
	@apply font-normal text-xs;
}
.text-caption-bold {
	@apply font-bold text-xs;
}
.text-caption-underlined {
	@apply font-normal text-xs underline underline-offset-4;
}

.text-body-mono {
	@apply font-mono text-base;
}
.text-body-mono-bold {
	@apply font-mono font-bold text-base;
}
.text-body-mono-underlined {
	@apply font-mono text-base underline underline-offset-4;
}

.text-caption-mono {
	@apply font-normal text-xs;
}
.text-caption-mono-bold {
	@apply font-bold text-xs;
}
.text-caption-mono-underlined {
	@apply font-normal text-xs underline underline-offset-4;
}






[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
	outline: none;
	box-shadow: none;
}
