@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--color-background: 244 247 251;
	--color-background-variant: 224 234 255;
	--color-surface: 255 255 255;
	--color-surface-variant: 249 251 253;
	--color-primary: 6 87 249;
	--color-primary-variant: 0 74 223;
	--color-secondary: 224 234 255;
	--color-secondary-variant: 198 215 249;
	--color-disabled: 206 213 227;
	--color-dark: 20 20 20;

	--color-alert-warning-primary: 255 138 0;
	--color-alert-warning-secondary: 255 249 217;
	--color-alert-warning-secondary-variant: 255 247 205;
	--color-alert-error-primary: 231 0 125;
	--color-alert-error-secondary: 255 220 239;
	--color-alert-critical-primary: 255 0 0;
	--color-alert-critical-secondary: 255 223 223;

	--color-icons-primary: 206 213 227;
	--color-icons-variant: 71 85 112;

	--color-logo-background: 6 87 249;
	--color-logo-fill: 255 255 255;

	--color-typo-primary: 0 23 70;
	--color-typo-primary-variant: 6 87 249;
	--color-typo-secondary: 127 141 169;
	--color-typo-secondary-variant: 71 85 112;
	--color-typo-off: 206 213 227;

	--color-button-filled-primary: 6 87 249;
	--color-button-filled-variant: 0 74 223;
	--color-button-filled-text: 255 255 255;
	--color-button-outlined-primary: 255 255 255;
	--color-button-outlined-variant: 224 234 255;
	--color-button-outlined-text: 6 87 249;
	--color-button-disabled-primary: 244 247 251;
	--color-button-disabled-text: 206 213 227;
}

:root [data-theme = "dark"] {
	--color-background: 20 20 20;
	--color-background-variant: 39 39 39;
	--color-surface: 0 0 0;
	--color-surface-variant: 25 25 25;
	--color-primary: 255 255 255;
	--color-primary-variant: 255 255 255;
	--color-secondary: 39 39 39;
	--color-secondary-variant: 32 32 32;
	--color-disabled: 168 168 168;
	--color-dark: 20 20 20;

	--color-alert-warning-primary: 255 138 0;
	--color-alert-warning-secondary: 255 249 217;
	--color-alert-warning-secondary-variant: 255 247 205;
	--color-alert-error-primary: 231 0 125;
	--color-alert-error-secondary: 255 220 239;
	--color-alert-critical-primary: 255 0 0;
	--color-alert-critical-secondary: 255 223 223;

	--color-icons-primary: 168 168 168;
	--color-icons-variant: 255 255 255;

	--color-logo-background: 255 255 255;
	--color-logo-fill: 0 0 0;

	--color-typo-primary: 255 255 255;
	--color-typo-primary-variant: 255 255 255;
	--color-typo-secondary: 168 168 168;
	--color-typo-secondary-variant: 168 168 168;
	--color-typo-off: 168 168 168;

	--color-button-filled-primary: 6 87 249;
	--color-button-filled-variant: 0 74 223;
	--color-button-filled-text: 255 255 255;
	--color-button-outlined-primary: 255 255 255;
	--color-button-outlined-variant: 39 39 39;
	--color-button-outlined-text: 255 255 255;
	--color-button-disabled-primary: 20 20 20;
	--color-button-disabled-text: 168 168 168;
}


* {@apply scroll-smooth font-roboto;}
html {margin-left: calc(100vw - 100%);}
#__next {@apply w-full h-full;}

::placeholder, :-ms-input-placeholder, ::-ms-input-placeholder {@apply text-typo-off;}

.scrollbar-none {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.scrollbar-none::-webkit-scrollbar {@apply hidden;}

/* 🔵 - Yearn Finance ******************************************************
** List of extended style to handle Yearn default themes
**************************************************************************/
/* Buttons - Filled and outline variants */
button {@apply cursor-pointer px-3 h-8 rounded-lg text-base text-center transition-colors;}
button:disabled {@apply cursor-not-allowed;}
.button-light {@apply text-primary bg-button-outlined-variant hover:bg-secondary-variant;}
.button-filled {@apply font-bold text-button-filled-text bg-primary hover:bg-primary-variant;}
.button-filled:disabled {@apply bg-button-disabled-primary text-button-disabled-text hover:bg-button-disabled-primary;}
.button-outline {@apply text-primary border border-primary hover:bg-button-outlined-variant;}
.button-outline:disabled {@apply text-button-disabled-text border border-button-disabled-text bg-opacity-0;}

/* External Links - use with yearn meta descriptions link for example */
.link {@apply text-primary hover:text-primary-variant underline transition-colors cursor-pointer;}

/* Description list component - used to style the component */
.inline-dl {@apply flex flex-col space-y-4;}
.inline-dl > span {@apply flex flex-row items-center;}
.inline-dl > span > dt {@apply mr-8 w-5/12 text-left text-typo-secondary-variant;}
.inline-dl > span > dd {@apply font-bold tabular-nums text-left text-typo-primary;}

/* Grid/Table - Used to fake a table without the impossible customizations */
.grid-row {@apply grid grid-cols-22 w-max md:w-full py-3 h-16 rounded-sm relative mb-0.5;}
.row-1 {@apply flex flex-row col-span-1;}
.row-2 {@apply flex flex-row col-span-2;}
.row-3 {@apply flex flex-row col-span-3;}
.row-4 {@apply flex flex-row col-span-4;}
.row-5 {@apply flex flex-row col-span-5;}
.row-6 {@apply flex flex-row col-span-6;}
.row-8 {@apply flex flex-row col-span-8;}
.cell-end {@apply tabular-nums text-right text-typo-primary justify-end;}
.cell-start {@apply tabular-nums text-left text-typo-primary justify-start;}

/* Typo - Some basic typo stuff */
h1 {@apply text-xl font-bold text-primary;}
h4 {@apply text-lg font-bold text-typo-primary;}

/* Some extra */
.flex-center {@apply justify-center items-center;}

/* 🔵 - Yearn Finance ******************************************************
** NsProgress is used to display the loading indicator. All of theses
** styles are required to make it visible
**************************************************************************/
.nprogress-custom-parent {@apply overflow-hidden relative;}
.nprogress-custom-parent #nprogress .spinner {@apply absolute;}
.nprogress-custom-parent #nprogress .bar {@apply absolute;}
#nprogress {@apply pointer-events-none;}
#nprogress .bar {@apply bg-primary fixed top-0 left-0 w-full h-1 z-[1031];}
#nprogress .spinner {@apply block fixed z-[1031] top-4 right-4;}
#nprogress .spinner-icon {@apply w-4 h-4 box-border border-2 border-transparent border-t-primary border-l-primary rounded-[50%] animate-spin;}

